

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
    overflow-x: hidden;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #565a5c;
    overflow-x: hidden;
    letter-spacing: 1.1px;
}


.sec-title{
    width: 550px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0 20px;
    max-width: 100%;
    color: #565a5c;
}

.primary-btn{
    background: #00bfe9;
    max-width: 100%;
    width: 300px;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 auto;
    color: #fff;
}

.text-muted{
    color: #b1b0b0;
}


/* ==========================================================================
                                Hero Section
   ========================================================================== */

.nav-custom{
    height: 80px;
    color: #fff!important;
    border: none;
    background-image: none;
    background: rgba(0, 0, 0, 0.13);
}

.nav-custom .navbar-nav>li>a{
    color: #fff;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a{
    background-image:none!important;
    color:#fff;
     box-shadow: none!important;
    background-color: transparent;
 /*   border-bottom: 1px solid #00bfe9;*/
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-image:none!important;
    color:#fff;
    background-color: transparent;
}


.activescroll{
    background: #f2f1f1!important;
    color: #00bfe9!important;
}

.activescroll .navbar-nav li a{
    color: #00bfe9;

}

.activescroll .navbar-nav>.active>a{
    color:#333
}

.nav>li{
    padding-left: 20px;
    color: #00bfe9!important;
}

#hero-section{
    background: url('../img/hero-banner.jpg') center no-repeat;
    background-size: cover;
    height: 100%;
    color: #fff;
    display: -webkit-flex;
        display: -moz-flex;
    -webkit-justify-content: center;
        -moz-justify-content: center;
             justify-content: center;
    -webkit-align-items: center;
        -moz-align-items: center;
             align-items: center;


}

.input-file {
    padding: 12px 1.5em 0 2.5em!important;
    line-height: 0px!important;
}


@media screen and (min-width: 769px) {
    #hero-section{
        height: 600px;
    }

}


#hero-section .form-container{
    background-color: rgba(255, 255, 255, 0.11);
    padding: 20px;
}

#hero-section .form-container h3{
    padding-bottom: 20px;
    font-weight: 100;
}


#hero-section .form-container .form-group{
    position: relative;
}



.form-container  .form-group input{
    background: rgba(0, 0, 0, 0.13);
    height: 50px;
    color: #fff;
    font-size: 16px;
    padding-left: 40px;
    border: 1px solid #cac8c8;
}

.form-container  .form-group select{
    height: 45px;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    font-size: 16px;

}

.form-container  .form-group button{
    background: #00bfe9;
    max-width: 100%;
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 4px;
}




::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff!important;
    opacity: 1!important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}


#hero-section .form-container .form-group  > .input-icon{
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 18px;
    padding-left: 10px;
}


#hero-section .main-title{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bolder;
    line-height: 56px;
}


#hero-section .main-title span:nth-child(1){
    font-weight: 300;
    display: block;
}


#hero-section .main-title span:nth-child(2){
    font-weight: 300;
    display: block;

}

#hero-section h4 {
    padding-top: 20px;
    font-size: 20px;
    line-height: 25px;
}

#hero-section h5 {
    padding-top: 20px;
    font-size: 20px;
    line-height: 25px;
}

#cta{
    padding-top: 5%;
}

.cta-strip{
    background-color: #00bfe9;
    padding: 30px;
    text-align: center;
    color: #fff;
    display: block;
    text-decoration: none;
    border: none;
}

.cta-strip:hover{
    color: #fff;
    text-decoration: none;
}

.cta-strip:focus{
    outline: none;
    color: #fff;
    outline-offset: 0;
    text-decoration: none;
}

.cta-strip h2{
   margin: 0;
}

.cta-strip small{
    color: #fff;
}


.cta-strip small a{
    text-decoration: none;
    color: #fff;
}


/* ==========================================================================
                                Our Services Section
   ========================================================================== */


#our-services{
    padding: 5% 5%;
}


#our-services ul  {
    padding: 0;
    text-align: center;
}


#our-services ul li {
   list-style: none;
    display: inline-block;
    text-align: center;
}




#our-services ul li .service {
   /* width: 300px;*/
    width: 241px;
    max-width: 100%;
    height: 380px;
    max-height: 380px;
    margin: 20px 20px auto;
    border: 1px solid #eee;
    display: -webkit-flex;
    display: -moz-flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
    box-shadow: 0px 1px 4px 1px #eee;
}

#our-services ul li .service:hover{
     background-color: #00bfe9;
     color: #fff;

}

#our-services ul li .service:hover i{
    background-color: #fff;
}


#our-services ul li .service h3{
    font-size: 16px;
}

#our-services ul li .service p{
    font-size: 13px;
}

/*
#our-services ul li .service.active{
    background-color: #00bfe9;
    color: #fff;
}
*/


#our-services ul li .service i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #ecedef;
    border-radius: 50%;
    font-size: 3.5rem;
    color: #00bfe9;
}

/*#our-services ul li .service i.active{
    background-color: #fff;
}*/




/* ==========================================================================
                            Process
   ========================================================================== */


#our-process{
    padding: 5% 5%;
}


.process-icon{
    font-size: 48px;
    height: 110px;
    width: 110px;
    margin: 0 auto;
    border-radius: 100%;
    line-height: 100px;
    text-align: center;
    background: #ffffff;
    color: #00bfe9;
    border: 3px solid #ffffff;
    box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;

}


.process-icon:hover{

    background: #00bfe9;
    color: #fff;
    box-shadow: inset 0 0 0 5px #00bfe9;
    -webkit-box-shadow: inset 0 0 0 5px #00bfe9;
    border: 3px solid #00bfe9;
}


/* ==========================================================================
                               Features Section
   ========================================================================== */

#featuresmain .container-fluid {
  /*  background-color: #f2f1f1;*/

}

.img-custom{
    height: 80px;
    width: 80px!important;

    margin: 0 auto;
}
#featuresmain .container-fluid .features-heading{
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    background-color: #f2f1f1;
    height: 430px;
}

#featuresmain .container-fluid .features-heading {
    padding: 30px;
}

#featuresmain .container-fluid .features-heading h3{
    font-weight: 300;
    margin: 20px 0;
}

#featuresmain .container-fluid .features-heading p{
    margin: 30px 0;
}


#featuresmain .container-fluid .sub-features{
    background-color: #00bfe9;
    margin: 0 -15px;
    padding: 25px;
    color: #fff;

}

#featuresmain .container-fluid .sub-features .media{
    margin: 20px 0;
}

#featuresmain .container-fluid .sub-features .media .media-left a{
    font-size: 4rem;
    color: #fff;

}

#featuresmain .container-fluid .sub-features .media h4{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}

#featuresmain .container-fluid .sub-features .media p{
    font-size: 1.4rem;

}


/* ==========================================================================
                               Work Section
   ========================================================================== */

#work-section{
    padding: 5% 5%;
}

#work-section .container{
    padding: 0% 15%;
}

#work-section .work-gallery a{
    display: block;
    max-width: 100%;
    overflow: hidden;
    transition: all .5s;
    zoom: 100%;
}

#work-section .work-gallery img{
    transition: all .5s;
}


#work-section .work-gallery a :hover{
    transform: scale(1.1);
    display: block;
}



/* ==========================================================================
                               CTA background
   ========================================================================== */

.cta-bg{
    background: url('../img/cta-bg.png') center no-repeat;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    height: 400px;
    text-align: center;
    color: #fff;
}


.cta-txt{
    width: 750px;
    max-width: 100%;
}

.cta-txt h2{
    text-transform: uppercase;
    font-weight: 300;
    margin: 40px 0;
}



/* ==========================================================================
                               CTA background
   ========================================================================== */

#pricing-table{
    padding: 4% 4%;
}


#pricing-table ul {
    padding: 0;
    text-align: center;
}

#pricing-table ul li {
    display: inline-block;
    list-style: none;
}

#pricing-table ul li .pricing-box {
    width: 330px;
    height: 500px;
    margin: 20px 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 1px 4px 1px #eee;
    display: -webkit-flex;
    display: -moz-flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
}

#pricing-table ul li .pricing-box:hover{
    background-color: #00bfe9;
    color: #fff;
}

#pricing-table ul li .pricing-box:hover button{
    background-color: #fff;
    color: #00bfe9;
}



#pricing-table ul li .pricing-box.active {
    background-color: #00bfe9;
    color: #fff;
}




/*
#pricing-table ul li .pricing-box button.active {
    background-color: #fff;
    color: #00bfe9;
}
*/



#pricing-table ul li .pricing-box figcaption>p {
    border-bottom: 1px solid #eee;
    margin: 0;
    line-height: 50px;
}

#pricing-table ul li .pricing-box:hover figcaption>p{
    color: #fff;
}


#pricing-table ul li .pricing-box button {
    margin-top: 50px;
    padding: 10px;
}


/* ==========================================================================
                               Footer Section
   ========================================================================== */

#footer{
    background-color: #00bfe9;
    padding: 4% 4% 1% 4%;
    color: #fff;
}




/* Slider */



.img-custom{
    height: 80px;
    width: 80px!important;

    margin: 0 auto;
}
#testimonial .container-fluid .features-heading{
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    background-color: #f2f1f1;
    height: 430px;
}

#testimonial .container-fluid .features-heading {
    padding: 30px;
}

#testimonial .container-fluid .features-heading h3{
    font-weight: 300;
    margin: 20px 0;
}

#testimonial .container-fluid .features-heading p{
    margin: 30px 0;
}


#testimonial .container-fluid .sub-features{
    /* background-color: #00bfe9;*/
    margin: 30px -15px;
    padding: 25px;
    color: #fff;

}

#testimonial .container-fluid .sub-features .media{
    margin: 20px 0;
}

#testimonial .container-fluid .sub-features .media .media-left a{
    font-size: 4rem;
    color: #fff;

}

#testimonial .container-fluid .sub-features .media h4{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}

#testimonial .container-fluid .sub-features .media p{
    font-size: 1.4rem;

}


.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev{
    color:#333;
}

.carousel-inner{

    margin-top: 12%;
    margin-bottom: 12%;
   /* left: -10%;*/

}
.carousel-control.left{
    background-image: none;
    position: absolute;
    top: 45%;
    left: -39%;
}

.testimonial-holder{
    padding: 20px;
    text-align: center;
    background: #fff;
    color: #333;
    height: 475px;
}


.carousel-control.right {
    background-image: none;
    position: absolute;
    top: 45%;
    left: -35%;
}


/* ==========================================================================
                             Testimonial
   ========================================================================== */
.features{
    background: -webkit-linear-gradient(left ,#f2f2f2 39%, #00bfe9 1%);


}
.owl-prev{
    position: absolute;
    left: -22%;
    bottom: 10%;
}

.owl-next{
    position: absolute;
    left: -18%;
    bottom: 10%;
}



/* ==========================================================================
                            why resume
   ========================================================================== */

#resume-writing{
    background: #e5e3e4;

   margin: 5% 0 0 0;
}


.circle-icon-frame{
    padding: 22px;


}

.text-icon{
    color: #00bfe9;
    font-size: 44px;
    font-weight: 900;
}


.fa-bar-chart{
    color: #ff5519;
}

.fa-binoculars{
    color: #fcca27;
}

.fa-book{
    color: #73d425;
}

/* ==========================================================================
                               helper classes
   ========================================================================== */



/*////Margins//////*/

.m-0{
    margin: 0!important;
}

.m-5{
    margin: 5px!important;
}

.m-t-0{
    margin-top: 0!important;
}

.m-b-0{
    margin-bottom: 0!important;
}

.m-10{
    margin: 10px!important;
}

.m-t-5{
    margin-top: 5px!important;
}

.m-t-10{
    margin-top: 10px!important;
}


.m-t-20{
    margin-top: 20px!important;
}


.m-b-5{
    margin-bottom: 5px!important;
}

.m-b-10{
    margin-bottom: 10px!important;
}

.m-b-20{
    margin-bottom: 20px!important;
}


.m-b-40{
    margin-bottom: 40px!important;
}

.m-t-40{
    margin-top: 40px!important;
}

.m-t-60{
    margin-top: 60px!important;
}

.m-r-20{
    margin-right: 20px!important;
}


.m-r-40{
    margin-right: 40px!important;
}

.m-30{
    margin: 30px!important;
}

/*////Ends here///*/





/*///Padding//*/

.p-0{
    padding: 0!important;
}

.p-5{
    padding: 5px!important;
}


.p-10{
    padding: 10px!important;
}

.p-20{
    padding: 20px!important;
}


.p-30{
    padding: 30px!important;
}


.p-40{
    padding: 40px!important;
}


.p-t-15{
    padding-top: 15px!important;
}
.p-t-20{
    padding-top: 20px!important;
}

.p-t-40{
    padding-top: 40px!important;
}

.p-b-20{
    padding-bottom: 40px!important;
}

.p-b-30{
    padding-bottom: 30px!important;
}



.p-b-40{
    padding-bottom: 40px!important;
}


/*///ends here////*/

/*resume writing*/


/*////Fonts////*/

.f-blue{
    color: #00bfe9;
}
.f-12{
    font-size: 12px!important;
}

.f-15{
    font-size: 15px!important;
}


.f-16{
    font-size: 16px!important;
}

.f-17{
    font-size: 17px!important;
}

.f-18{
    font-size: 18px!important;
}

.f-20{
    font-size: 20px!important;
}

.f-22{
    font-size: 22px!important;
}


.f-24{
    font-size: 24px!important;
}

.f-29{
    font-size: 29px!important;
}


.w-100{
    font-weight: 100!important;
}


.w-500{
    font-weight: 500!important;
}

.w-800{
    font-weight: 800!important;
}


.f-8{
    font-size: 5em!important;
}







/*///ends here///*/

